# -------------------------
# Python
# -------------------------

__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environments
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

# Environment Variables
.env
.env.*
!.env.example

# Distribution / Packaging
.Python
build/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer Logs
pip-log.txt
pip-delete-this-directory.txt

# Testing / Coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
.hypothesis/
coverage.xml
*.cover
*.py,cover

# Static Analysis
.mypy_cache/
.pyre/
.pytype/
.ruff_cache/

# Database
db.sqlite3
db.sqlite3-journal

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# IDE
.idea/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# -------------------------
# Node / Vite
# -------------------------

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Production Build
dist/

# Vite Cache
.vite/

# -------------------------
# Docker
# -------------------------

docker-compose.override.yml

# -------------------------
# Misc
# -------------------------

.cursorignore
.cursorindexingignore